body {
    background-color: #f2f2ea;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(33, 33, 33)
}

a {
    font-size: 30px;
    font-weight: bolder;
    text-decoration: none;
    text-align: left;
}

.nav {
    text-align: left;
}

.nav ul {
    padding: 0%;
}

.nav ul li {
    list-style-type: none;
    margin: 20px 0px 0px 30px;
}

footer {
    text-align: center;
}

/* unvisited link */
a:link {
    color: rgb(0, 0, 0);
  }
  
/* visited link */
a:visited {
    color: rgb(0, 0, 0);
}
  
/* mouse over link */
a:hover {
    color: #5b5b5b;
}
  
/* selected link */
a:active {
    color: #5b5b5b;
}
