body {
    background-color: #f7f7f7;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(33, 33, 33)
}

.logo {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin: 30px;
}

.logo a {
    text-decoration: none;
}
    
.library {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin: 30px;
}

.library h1 {
    font-size: 30px;
    font-weight: bolder;
}

.library h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 50px;
}

.library ul {
    font-size: 18px;
    font-weight: 400;
    text-align: left;    
    padding: 0%;
}

.library ul li {
    list-style-type: circle;
    margin: 30px;
    text-decoration: none;
}

footer {
    text-align: center;
}

/* unvisited link */
a:link {
    color: rgb(0, 0, 0);
}
  
/* visited link */
a:visited {
    color: rgb(0, 0, 0);
}
  
/* mouse over link */
a:hover {
    color: #5b5b5b;
}
  
/* selected link */
a:active {
    color: #5b5b5b;
}
