body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

a {
    color:rgb(33, 33, 33)
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    text-align: left;    
}

.nav {
    text-align: left;

}

.nav ul {
    padding: 0%;
}

.nav ul li {
    list-style-type: none;
    margin: 30px;
    text-decoration: none;
}

p {
    color:rgb(222, 222, 222)
    font-weight: bold;
}
