body {
    background-color: #f2f2ea;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(33, 33, 33)
}

.nav {
    text-align: center;
}

.nav a {
    font-size: 18px;
    font-weight: bolder;
    text-decoration: none;
}

.nav ul {
    text-align: center;
    padding: 0%;
}

.nav ul li {
    text-align: center;
    list-style-type: none;
    padding: 30px 0px 0px 30px;
}

/* unvisited link */
a:link {
    color: #000000;
  }
  
/* visited link */
a:visited {
    color: #000000;
}
  
/* mouse over link */
a:hover {
    color: #000000;
}
  
/* selected link */
a:active {
    color: #000000;
}
